@{
    ViewData["Title"] = "Order Product";
}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 ftco-animate">
                <form action="#" class="billing-form">
                    <h3 class="mb-4 billing-heading">Billing Details</h3>
                    <!--Login Form-->
                    <!--If registerd login directly-->
                    <div class="row align-items-end" id="login-form" hidden>
                        <div class="col-md-12" id="login-form-register">
                            <a href="javascript:;" onclick="document.getElementById('login-form').hidden = true; document.getElementById('register-user-form').hidden = false;"
                            >Not Registred ? Click here to register..</a>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <span style="color:black;">User Name</span>
                                <input type="text" title="User Name" value="Admin" name="username" id="username" class="form-control" placeholder="Enter User Name" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <span style="color:black;">Password</span>
                                <input type="password" title="Password" value="Pass@123" name="password" id="password" class="form-control" placeholder="Enter Password" />
                            </div>
                            </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="submit" onclick="submitlogin()" value="Login" class="btn btn-success py-3 px-3">
                            </div>
                        </div>
                    </div>
                    <!--New user register form-->
                    <!--If not registerd register new user-->
                    <div class="row align-items-end" id="register-user-form">
                        <div class="col-md-12" id="register-user-form-login">
                            <a href="javascript:;" onclick="document.getElementById('login-form').hidden = false; document.getElementById('register-user-form').hidden = true;"
                            >Already Registred ? Click here to login..</a>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <span style="color:black;">User Name</span>
                                <input type="text" title="User Name" name="r-username" id="r-username" onkeyup="Validate(this)" class="form-control" placeholder="Enter User Name" />
                                <span style="color:red;" id="msg-r-username" hidden></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">Password</span>
                                <input type="password" title="Password" name="r-password" id="r-password" onkeyup="Validate(this)" class="form-control" placeholder="Enter Password" />
                                <span style="color:red;" id="msg-r-password" hidden></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">Confirm Password</span>
                                <input type="password" title="Confirm Password" name="confirm-password" id="confirm-password" onkeyup="confirmPwd()" class="form-control" placeholder="Enter Password Again" />
                                <span style="color:red;" id="msg-confirm-password" hidden></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">First Name</span>
                                <input type="text" title="First Name" name="firstname" id="firstname" class="form-control" placeholder="Enter First Name" />
                                <span style="color:red;" id="msg-firstname" hidden></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">Last Name</span>
                                <input type="text" title="Last Name" name="lastname" id="lastname" class="form-control" placeholder="Enter Last Name" />
                                <span style="color:red;" id="msg-lastname" hidden></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <span style="color:black;">Gender</span> <br />
                                <input type="radio" id="male" name="gender" value="male"> Male &nbsp;&nbsp;
                                <input type="radio" id="female" name="gender" value="female"> Female &nbsp;&nbsp;
                                <input type="radio" id="other" name="gender" value="other"> Other
                                <br />
                                <span style="color:red;" id="msg-gender" hidden></span>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">Mobile No.</span>
                                <input type="number" title="Mobile No." name="mobileno" id="mobileno" onkeyup="Validate(this)" class="form-control" placeholder="Enter Mobile No." />
                                <span style="color:red;" id="msg-mobileno" hidden></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">Email Id</span>
                                <input type="email" title="Email Id" name="emailid" id="emailid" onkeyup="Validate(this)" class="form-control" placeholder="Enter Email Id" />
                                <span style="color:red;" id="msg-emailid" hidden></span>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">Address</span>
                                <input type="email" title="Address" name="address" id="address" class="form-control" placeholder="Enter Address" />
                                <span style="color:red;" id="msg-address" hidden></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">City</span>
                                <input type="text" title="City" name="city" id="city" class="form-control" placeholder="Enter City Name" />
                                <span style="color:red;" id="msg-city" hidden></span>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">Pin Code</span>
                                <input type="number" title="Pin Code" name="pincode" id="pincode" onkeyup="Validate(this)" class="form-control" placeholder="Enter Pin Code" />
                                <span style="color:red;" id="msg-pincode" hidden></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="radio">
                                    <label class="mr-3"><input type="radio" name="optradio"> Create an Account? </label>
                                    <label><input type="radio" name="optradio"> Ship to different address</label>
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="submit" onclick="registeruser()" value="Register" class="btn btn-success py-3 px-5">
                                <input type="reset" onclick="resetregisteruser()" value="Reset" class="btn btn-secondary py-3 px-5">
                            </div>
                        </div>
                    </div>
                    <!--Logged in user registerd address details-->
                    <div class="row align-items-end" id="address-label-form">
                        <div class="col-md-12">
                            <div class="form-group">
                                <table style="width:100%; color: black;">
                                    <tr style="border-bottom: #c0bdbd 1px solid;">
                                        <td>Mobile No.</td>
                                        <td id="tbl-mobno"></td>
                                    </tr>
                                    <tr style="border-bottom: #c0bdbd 1px solid;">
                                        <td>Email Id</td>
                                        <td id="tbl-email"></td>
                                    </tr>
                                    <tr style="border-bottom: #c0bdbd 1px solid;">
                                        <td>Address</td>
                                        <td id="tbl-addr"></td>
                                    </tr>
                                    <tr style="border-bottom: #c0bdbd 1px solid;">
                                        <td>City</td>
                                        <td id="tbl-city"></td>
                                    </tr>
                                    <tr style="border-bottom: #c0bdbd 1px solid;">
                                        <td>Pin Code</td>
                                        <td id="tbl-pin"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12" id="register-user-form-login">
                            <label style="cursor: pointer; color: #82ae46;" onchange="document.getElementById('address-form').hidden = document.getElementById('address-form').hidden !== true;">
                                <input type="checkbox" name="optradio"> Ship to different address
                            </label>
                        </div>
                    </div>
                    <!--ship to different address-->
                    <div class="row align-items-end" id="address-form" hidden>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">Mobile No.</span>
                                <input type="number" title="Mobile No." name="a-mobileno" id="a-mobileno" onkeyup="Validate(this)" class="form-control" placeholder="Enter Mobile No." />
                                <span style="color:red;" id="msg-mobileno" hidden></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">Alternate Mobile No.</span>
                                <input type="number" title="Mobile No." name="a-mobileno" id="a-mobileno" onkeyup="Validate(this)" class="form-control" placeholder="Enter Mobile No." />
                                <span style="color:red;" id="msg-mobileno" hidden></span>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">Email Id</span>
                                <input type="email" title="Email Id" name="a-emailid" id="a-emailid" onkeyup="Validate(this)" class="form-control" placeholder="Enter Email Id" />
                                <span style="color:red;" id="msg-emailid" hidden></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">Address</span>
                                <input type="email" title="Address" name="a-address" id="a-address" class="form-control" placeholder="Enter Address" />
                                <span style="color:red;" id="msg-address" hidden></span>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">City</span>
                                <input type="text" title="City" name="a-city" id="a-city" class="form-control" placeholder="Enter City Name" />
                                <span style="color:red;" id="msg-city" hidden></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <span style="color:black;">Pin Code</span>
                                <input type="number" title="Pin Code" name="a-pincode" id="a-pincode" onkeyup="Validate(this)" class="form-control" placeholder="Enter Pin Code" />
                                <span style="color:red;" id="msg-pincode" hidden></span>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="radio">
                                    <label class="mr-3"><input type="radio" name="optradio"> Create an Account? </label>
                                    <label><input type="radio" name="optradio"> Ship to different address</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="submit" onclick="registeruser()" value="Register" class="btn btn-success py-3 px-5">
                                <input type="reset" onclick="resetregisteruser()" value="Reset" class="btn btn-secondary py-3 px-5">
                            </div>
                        </div>
                    </div>
                </form><!-- END -->
            </div>
            <div class="col-xl-5">
                <div class="row mt-5 pt-3">
                    <div class="col-md-12 d-flex mb-5">
                        <div class="cart-detail cart-total p-3 p-md-4">
                            <h3 class="billing-heading mb-4">Order Summary</h3>
                            <p class="d-flex">
                                <span style="font-weight: bold;">Item</span>
                                <span style="font-weight: bold;">Quantity</span>
                                <span style="font-weight: bold;">Rate</span>
                                <span style="font-weight: bold;">Total</span>
                            </p>
                            @for (int i = 0; i < Model.productList.Count; i++) {
                            <p class="d-flex">
                                    <span>@Model.productList[i].ProductName</span>
                                <span>50 kg</span>
                                <span>$20.60</span>
                                <span>$20.00</span>
                            </p>
                            }
                            <p class="d-flex">
                            </p>
                            <p class="d-flex">
                                <span>Delivery</span>
                                <span></span>
                                <span>$0.00</span>
                                <span>$0.00</span>
                            </p>
                            <p class="d-flex">
                                <span>Discount</span>
                                <span></span>
                                <span>$3.00</span>
                                <span>$3.00</span>
                            </p>
                            <hr>
                            <p class="d-flex total-price">
                                <span>Total</span>
                                <span></span>
                                <span></span>
                                <span>$17.60</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="cart-detail p-3 p-md-4">
                            <h3 class="billing-heading mb-4">Payment Method</h3>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" class="mr-2"> Direct Bank Transfer</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" class="mr-2"> Cheque Payment</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" class="mr-2"> UPI</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" class="mr-2"> Cash On Delivery</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="" class="mr-2"> I have read and accept the terms and conditions</label>
                                    </div>
                                </div>
                            </div>
                            <p><a href="#" class="btn btn-success py-3 px-4" style="width:100%;">Place an order</a></p>
                        </div>
                    </div>
                </div>
            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section>

<script>
    function checkNumber(id) {
        let inputVal = $('#' + id).val();
        if (validation.isNumber(inputVal) == false) {
            showWarningMsg('Only Numbers Allowed');
            $('#' + id).val(inputVal.replace(/\D/gm, ""));
        }
    }

    setTimeout(onPageLoad, 500);
    function onPageLoad() {
        var user = localStorage.getItem("UserInfo");
        if (user) {
            let userdata = JSON.parse(user);

            document.getElementById('tbl-mobno').innerText = userdata.mobileNo;
            document.getElementById('tbl-email').innerText = userdata.emailId;
            document.getElementById('tbl-addr').innerText = userdata.address;
            document.getElementById('tbl-city').innerText = userdata.city;
            document.getElementById('tbl-pin').innerText = userdata.pinCode;

            document.getElementById('login-form').hidden = true;
            document.getElementById('register-user-form').hidden = true;
        } else {
            document.getElementById('login-form-register').hidden = false;
            document.getElementById('register-user-form-login').hidden = false;
        }
    }
</script>